<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
	<meta charset="UTF-8">
	<title>A3商城后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<link rel="icon" href="/favicon.ico">
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/index.css" media="all" />
	<link rel="stylesheet" href="/css/index.css" media="all" />
	<link rel="stylesheet" href="/css/iconfont/iconfont.css">
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/cache.js"></script>
	<script type="text/javascript" src="/page/home/home.js"></script>

	<style type="text/css">
		.layui-icon {
			font-family: "iconfont" !important;
			font-size: 16px;
			font-style: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	</style>

</head>
</html>